openapi: 3.2.0
info:
  title: Bevz Integrator Service Pick a Delivery Service for…
  contact:
    name: API Support
    email: tech@bevz.com
  description: '# Introduction


    Welcome to the Bevz Integrator Service API documentation.'
  version: 1.12.0
servers:
- url: https://api.bevz.com/integrator-service
  description: Production server
- url: https://sandbox-api.bevz.com/integrator-service
  description: Sandbox server
tags:
- name: Pick a Delivery Service for Onboarding API
  description: This document outlines the integration flow for onboarding new DoorDash and Grubhub stores through the Delivery Services Onboarding API.
paths:
  /integrators/{integrator_id}/stores/{store_id}/onboard-delivery-services:
    post:
      tags:
      - Pick a Delivery Service for Onboarding API
      operationId: onboard
      summary: Delivery Services Onboarding API
      description: 'The Delivery Services Onboarding API allows you to onboard your store to DoorDash or Grubhub and manage related integration operations.


        Use this endpoint to configure service-specific settings, such as commission rates, menu sync options, and enable/disable status for each delivery service.'
      parameters:
      - name: integrator_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Unique identifier for the integrator.
      - name: store_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Unique identifier for the store.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: "JWT token for authenticating API requests.  \n"
        example: Bearer yourJWTtoken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliverySettings'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      link:
                        type: string
                        description: Grubhub jotform link with prefilled store information (grubhub only).
              examples:
                doordash:
                  summary: DoorDash
                  value:
                    message: Successfully onboarded DoorDash delivery service
                grubhub:
                  summary: Grubhub
                  value:
                    message: Your application to Grubhub was successfully submitted. Grubhub Representative will reach out to you to help get started with Grubhub.
                    link: https://grubhub.jotform.com/231635658468872?storeName=Bevz+Test+Store
        '400':
          description: Bad request! Please check your input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: string
              examples:
                doordash_inventory:
                  summary: DoorDash - Not enough inventory
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - Store must have at least 500 items in its inventory or menu. Please add more items to proceed
                doordash_hours:
                  summary: DoorDash - Store hours not set
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - Store has no Store Hours set. Please set your hours to proceed (Settings > Store Info > Add Store Hours)
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
              examples:
                Integrator unauthorized to perform this action!:
                  value:
                    message: Unauthorized request! Please check your permission.
                    errors:
                    - Integrator unauthorized to perform this action!
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User is not authorized to access this resource with an explicit deny
components:
  schemas:
    DeliverySettings:
      type: object
      required:
      - deliveryService
      discriminator:
        propertyName: deliveryService
        mapping:
          DOORDASH: '#/components/schemas/DeliverySettingsDD'
          GRUBHUB: '#/components/schemas/DeliverySettingsGH'
      properties:
        deliveryService:
          type: string
          description: DOORDASH | GRUBHUB
x-tagGroups:
- name: getting started
  tags:
  - Introduction
  - What is this documentation for?
  - Getting Started
- name: guides
  tags:
  - Preparing Your Store
  - Using Webhooks
  - Uploading store menu
  - Receiving and processing order
- name: apis
  tags:
  - Integrators
  - integrator_users
  - Stores
  - Store Products
  - Lotto Scratcher Games
  - Order
- name: Delivery Services Onboarding
  tags:
  - Pick a Delivery Service for Onboarding API
  - Uber Eats Onboarding API Workflow
- name: webhooks
  tags:
  - Webhooks
- name: models
  tags:
  - models
- name: faqs
  tags:
  - faq
- name: changelog
  tags:
  - Changelog
