# generated: '2026-08-13'
# method: searched
# source: https://docs.bevz.com/bevz-openapi.yaml
# note: >-
#   Bevz Integrator Service API, published by Bevz at https://docs.bevz.com/ (Redoc, initialised with
#   Redoc.init("bevz-openapi.yaml")). This file is the provider's own OpenAPI 3.0.3 document with its
#   128 external $ref files resolved inline so it stands alone; the verbatim multi-file bundle exactly
#   as served is preserved under openapi/_original/ (root document plus yaml/apis, yaml/schemas,
#   yaml/responses, yaml/webhooks, yaml/texts, yaml/changelog, yaml/faq — every file HTTP 200 on
#   2026-08-13). Nothing was added to or removed from the contract.
# ownership: >-
#   Verified as Bevz's own contract: info.title "Bevz Integrator Service", info.contact
#   tech@bevz.com, servers[] https://api.bevz.com/integrator-service and
#   https://sandbox-api.bevz.com/integrator-service, served from docs.bevz.com.
# operations: 30
# webhooks: 3 (declared as x-webhooks)
# enhancements: overlays/bevz-integrator-service-overlay.yaml
openapi: 3.0.3
servers:
- url: https://api.bevz.com/integrator-service
  description: Production server
- url: https://sandbox-api.bevz.com/integrator-service
  description: Sandbox server
info:
  title: Bevz Integrator Service
  contact:
    name: API Support
    email: tech@bevz.com
  description: '# Introduction


    Welcome to the Bevz Integrator Service API documentation.


    The Bevz Integrator Service empowers our partners—including integrators and third-party POS providers—to seamlessly manage stores and related operations through a secure, scalable, and high-performance
    REST API platform.


    ## Who is this documentation for?


    This documentation is designed for integrators and third-party POS systems looking to leverage the Bevz SaaS platform to automate and streamline store management, menu operations, and more.


    ## Key Features


    By integrating with the Bevz platform, you gain access to:


    - **Rapid Store Onboarding:** Effortlessly provision and deprovision stores using our dedicated APIs.

    - **Menu Management:** Upload, update, and synchronize store menus programmatically.

    - **User & Access Management:** Manage integrator admin users and developer access for your organization.

    - **Order Processing:** Receive and process orders in real time via webhooks and API endpoints.

    - **Reporting & Analytics:** (Coming Soon) Access comprehensive reporting tools to monitor and optimize your operations.


    Explore the following sections to get started, review API endpoints, and discover best practices for a successful integration with Bevz.

    '
  version: 1.12.0
tags:
- name: Getting Started
  description: "# Development Phase\n\nBefore going live, Bevz will provide you with sandbox credentials to help you implement and test your App integration. You’ll also receive a checklist outlining the\
    \ minimum required APIs that must be integrated before moving to production.  \n\nAs a POS integrator, it’s essential to ensure all required APIs are implemented and tested to meet the criteria for\
    \ a successful integration.\n\n## Quickstart\nUse the following cURL command to test your sandbox credentials and obtain a JWT token for authentication.\n\n**Sample cURL Request:**\n```json\ncurl --location\
    \ 'https://sandbox-api.bevz.com/integrator-service/integrators/login' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"email\": \"sample_email@bevz.com\",\n    \"password\" : \"\
    sample_password\"\n}'\n```\n**Sample Response:**\n```json\n{\n    \"api_version\": \"v1.11.3\",\n    \"status_code\": 200,\n    \"message\": \"Login successful\",\n    \"errors\": [],\n    \"data\"\
    : {\n        \"token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjdhYjIwNGJiLTRhOGEtNGMwMS1iNDUwLTAzZjgzYmY1ZTk0NCIsImVtYWlsIjoiaGFubmFoQGJldnouY29tIiwiY2xpZW50IjoiSU5URUdSQVRPUiIsInNjb3BlIjoiKiIsInN1YiI6IjEiLCJleHAiOjE3NjA2MjUxNjEuODM0LCJpYXQiOjE3NTgwMzMxNjEuODcyLCJhdWQiOiJCZXZ6In0.32MxKENvgTWif58cRUaHIoHg2nGO8z1tP11PwHoM1\"\
    \n    }\n}\n```\n*Note: The token expires every 30 days. To generate a new token, simply log in again.*\n\n## Integration Checklist\n\n### Integrator\n| **API Name** | **Required** |\n|--------------|--------------|\n\
    | [**Setup Order Notification Webhook**](#tag/Integrators/operation/patchOrder) | Yes |\n| [**Setup Menu Upload Notification**](#tag/Integrators/operation/patchMenuUpload) | Yes |\n\n### Integrator\
    \ User\n| **API Name** | **Required** |\n|--------------|--------------|\n| [**Retrieve All Integrator User Access**](#tag/integrator_users/operation/getUser) | No |\n| [**Create Integrator User**](#tag/integrator_users/operation/postUser)\
    \ | No |\n| [**Update Integrator User Access**](#tag/integrator_users/operation/putUser) | No |\n| [**Change Integrator User Password**](#tag/integrator_users/operation/changePassword) | No |\n\n###\
    \ Stores\n| **API Name** | **Required** |\n|--------------|--------------|\n| [**Retrieve All Provisioned Stores**](#tag/Stores/operation/getStores) | Yes |\n| [**Create Store**](#tag/Stores/operation/createStore)\
    \ | Yes |\n| [**Get Store by store_id**](#tag/Stores/operation/getIntegratorStore) | No |\n| [**Patch Store**](#tag/Stores/operation/patchStore) | Yes |\n| [**Provision Store**](#tag/Stores/operation/postStore)\
    \ | Yes |\n| [**Deprovision Store**](#tag/Stores/operation/removeStore) | Yes |\n| [**Menu Upload**](#tag/Stores/operation/postMenu) | Yes |\n| [**Retrieve the Menu Upload Status**](#tag/Stores/operation/getMenu)\
    \ | No |\n| [**Onboard Delivery Service**](#tag/Stores/operation/onboard) | Yes |\n| [**Generate Checkout Link**](#tag/Stores/operation/generateCheckoutLink) | No |\n\n### Store Products\n| **API Name**\
    \ | **Required** |\n|--------------|--------------|\n| [**Get Products**](#tag/Store-Products/operation/getProducts) | No |\n| [**Patch Product**](#tag/Store-Products/operation/patchProduct) | No |\n\
    | [**Delete Product**](#tag/Store-Products/operation/deleteProduct) | No |\n\n### Orders\n| **API Name** | **Required** |\n|--------------|--------------|\n| [**Get Store Orders**](#tag/Order/operation/getStoreOrders)\
    \ | Yes |\n| [**Test Store Orders**](#tag/Order/operation/testStoreOrders) | No |\n| [**Patch Store Orders**](#tag/Order/operation/patchOrderStatus) | Yes |\n\n---\n\n# Going Live\n\nAfter completing\
    \ your integration build, prototyping, and testing phases, you’ll participate in a collaborative testing process.  \nThis involves executing a predefined set of test cases to validate your integration\
    \ and ensure it meets all functional requirements.  \nUpon successful completion, Bevz will grant sign-off, provide production credentials, and initiate the Pilot phase.\n\nTo support effective communication\
    \ and feedback, a collaborative Q&A session will be scheduled for live discussions between your team and Bevz.\n\n## Procedural Breakdown\n\nThe following sections outline the specific procedures to\
    \ follow:\n\n### 1. Menu\n- Upload your menu\n\n### 2. Order Submission and Validation\n- Create a test order\n- Receive order notifications\n- Accept a test order\n- Cancel a test order\n- Mark a test\
    \ order as out for delivery\n- Complete a test order\n\n### 3. Item Modifiers and Availability\n- Update pricing\n- Remove an item from inventory\n\n### 4. Store Status Updates\n- Set restaurant hours\n\
    - Set store online/offline status\n- Adjust delivery service percentages\n\n---\n\n# Base URLs\n\n- `https://sandbox-api.bevz.com/integrator-service` — Developer (Sandbox) Environment  \n- `https://api.bevz.com/integrator-service`\
    \ — Live Production Environment\n\n---\n\n# Authentication\n\nTo access API endpoints, include an API key in the request header.  \nObtain your API key by generating a JWT token using your POS integrator\
    \ user credentials.\n\nJWT is used as an access token to protect your store resources and prevent unauthorized access.  \nLearn more about JWT here: [JWT.io](https://jwt.io)\n\n> **⚠️ Common Errors**\
    \  \n> \n> - **401 Unauthorized:**  \n>   - Your JWT token is missing, expired, or invalid.  \n>   - Ensure you include the header: `Authorization: Bearer yourJWTtoken` in every request.  \n>   - If\
    \ your token is older than 30 days, log in again to obtain a new one.\n\n## Generating a JWT Token\n\n1. Use your email and password to log in via POST `{BaseUrl}/integrators/login`\n    \n    **Sample\
    \ Request Body:**\n    ```json\n    {\n      \"email\": \"sample_email@bevz.com\",\n      \"password\": \"sample_password\"\n    }\n    ```\n\n    **Sample Response:**\n    ```json\n    {\n      \"\
    api_version\": \"v1.11.3\",\n      \"status_code\": 200,\n      \"message\": \"Login successful\",\n      \"errors\": [],\n      \"data\": {\n        \"token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjdhYjIwNGJiLTRhOGEtNGMwMS1iNDUwLTAzZjgzYmY1ZTk0NCIsImVtYWlsIjoiaGFubmFoQGJldnouY29tIiwiY2xpZW50IjoiSU5URUdSQVRPUiIsInNjb3BlIjoiKiIsInN1YiI6IjEiLCJleHAiOjE3NjA2MjUxNjEuODM0LCJpYXQiOjE3NTgwMzMxNjEuODcyLCJhdWQiOiJCZXZ6In0.32MxKENvgTWif58cRUaHIoHg2nGO8z1tP11PwHoM1\"\
    \n      }\n    }\n    ```\n\n    *Note: The token expires every 30 days. To generate a new token, simply log in again.*\n"
- name: Preparing Your Store
  description: '## Setting Up Your Store


    To fully leverage the Bevz platform, you’ll need to have an active store provisioned within our system. This store acts as the foundation for managing orders, inventory, and other operational data through
    our API. Below, you’ll find guidance on creating a new store, provisioning an existing one, and deprovisioning when necessary.


    ### Creating a New Store


    <img alt="Bevz Create Store Workflow" src="https://join-bevz.s3.us-west-1.amazonaws.com/apidocs_create_store.png" />


    If you don’t already have a store on Bevz, you can easily register a new one using our API. This process allows you to provide all required details, such as the store’s name, address, and other key
    information.


    **Steps to Create a New Store:**

    - Submit a request to the [**Create Store**](#tag/Stores/operation/createStore) API endpoint, including all necessary store details.

    - Receive confirmation that your store has been successfully created.

    - After creation, you’ll receive a unique store identifier (store ID) for future API operations.


    With this store ID, you’ll be able to manage inventory, process orders, and perform other store operations through the API.


    ### Provisioning an Existing Store


    <img alt="Bevz Create Store Workflow" src="https://join-bevz.s3.us-west-1.amazonaws.com/apidocs_provision_store.png" />


    If your store already exists on Bevz but isn’t yet linked to your Integrator account, you’ll need to provision it. Provisioning connects the store to your account, granting you management access.


    **When to Provision:**

    - The store exists on Bevz but isn’t associated with your Integrator account.

    - You want to enable management features for an existing store.


    **Steps to Provision an Existing Store:**

    - Send a request to the [**Provision Existing Store**](#tag/Stores/operation/postStore) API endpoint, specifying the store’s unique identifier.

    - Once provisioned, the store will appear in your account’s managed stores list, and you’ll have full access to its features.


    ### Deprovisioning a Store


    If you no longer need to manage a store through your Integrator account, you can deprovision it. Deprovisioning disconnects the store from your account, making it available for other partners to provision
    if needed.


    **When to Deprovision:**

    - The store is being transferred to another partner.

    - The store is inactive or no longer requires management.

    - You want to clean up unused stores from your account.


    **Steps to Deprovision a Store:**

    - Initiate a request to the [**Deprovision Store**](#tag/Stores/operation/removeStore) API endpoint, specifying the store ID.

    - Once confirmed, the store will be removed from your managed list and can be re-provisioned later if necessary.


    ## Activating Your Store


    To activate your store, you’ll need to set up a Stripe account using the link provided in the [**Create a New Store API**](#tag/Stores/operation/createStore) response.


    ## Onboarding Your Store: Two Methods


    ### 1. Onboard via Delivery Services Onboarding API


    - Onboard your store to DoorDash and Grubhub delivery services using the [**Delivery Services Onboarding API**](#tag/Pick-a-Delivery-Service-for-Onboarding-API/operation/onboard).

    - Onboard your store to Uber Eats using the three-step process outlined in the [**Uber Eats Onboarding API Workflow**](#tag/Uber-Eats-Onboarding-API-Workflow).


    ### 2. Use Our Dedicated Onboarding Page


    If you prefer not to collect bank information via API, we offer a secure, dedicated onboarding page for your convenience.


    **Page URL:** https://sandbox-join.bevz.com/pos/delivery-services


    **Features:**

    - Onboard delivery services such as DoorDash, GrubHub, Uber Eats, and more.

    - Responsive design for all devices.

    - Supports both new and existing customers.

    - Secure onboarding with required parameters.

    - Callback mechanism to notify you upon successful onboarding.


    <img alt="POS Onboarding" src="https://join-bevz.s3.us-west-1.amazonaws.com/pos_onboarding.png" />


    **Onboarding Page URL Parameters:**


    | Parameter         | Description                                 | Required |

    |-------------------|---------------------------------------------|----------|

    | `store_id`        | Unique identifier for the store             | Yes      |

    | `pos_integrator_id` | Identifier for the POS integration        | Yes      |

    | `token`           | Secure authentication token                 | Yes      |

    | `callback_url`    | URL for redirect after onboarding           | Optional |


    **Example URL:**


    ```

    https://sandbox-join.bevz.com/pos/delivery-services?store_id=0000000-000-0000-0000-0000000&pos_integrator_id=1&token=your_token_that_is_in_jwt&callback_url=https://sandbox-join.bevz.com

    ```


    If any required parameters are missing or invalid, an error page will be displayed.

    '
- name: Using Webhooks
  description: "## What Are Webhooks?\n\nWebhooks allow your application to receive real-time notifications from Bevz whenever important events occur—such as new orders or menu upload results. Instead of\
    \ polling our API, simply register your webhook endpoint and Bevz will send you event payloads as soon as they happen.\n\n## Supported Events\n\n- [**Order Notification Webhook:**](#tag/Webhooks/operation/orderWebhook)\
    \ Receive instant updates when new orders are placed or their status changes.\n- [**Menu Upload Webhook:**](#tag/Webhooks/operation/menuUploadWebhook) Get notified about the status of menu uploads,\
    \ including any errors or successful imports.\n- [**Store Status Webhook:**](#tag/Webhooks/operation/storeStatusWebhook) Get notified when store settings change, such as operating hours or delivery\
    \ service configurations.\n\n## Example Payloads\n\n**Order Accepted Event**\n```json\n{\n  type: 'order.accepted',\n  data: {\n    fees: { tipTotal: 0, taxTotal: 4.08 },\n    orderId: 'cfd2ab0f-8e28-4c50-bfc4-8b4242d8884d',\n\
    \    orderProducts: [\n      {\n        \"productSnapshot\": {\n          \"images\": [\n            {\n              \"src\": \"https://bevz-media.s3-us-west-1.amazonaws.com/ef81f97b-1d8a-4f91-906d-3542427e99f2.png\"\
    ,\n              \"primary\": true\n            }\n          ],\n          \"quantity\": \"6 Pack\",\n          \"productId\": \"cd017f3f-fbda-41c1-b9d9-842eab06cbea\",\n          \"taxable\": true,\n\
    \          \"description\": \"Enjoy the refreshing lemon-lime taste in every sip of 7UP.\",\n          \"upc\": \"078000000382\",\n          \"extras\": {},\n          \"priority\": false,\n       \
    \   \"createdAt\": \"2019-08-02T15:11:28.608Z\",\n          \"size\": \"12 oz Cans\",\n          \"price\": 4.99,\n          \"name\": \"7 UP\",\n          \"disabled\": false,\n          \"categories\"\
    : {\n            \"L1\": \"Soft Drinks\",\n            \"L2\": \"Soda\"\n          },\n          \"updatedAt\": \"2019-08-02T15:11:28.608Z\"\n        },\n        \"quantity\": 1,\n        \"productId\"\
    : \"a00dd3f1-dac9-4574-8e23-51a94dd7094c\",\n        \"merchantSuppliedId\": \"507f191e810c19729de860ea\",\n        \"selectedPrice\": 3.99\n      }\n    ],\n    orderStatus: 'ACCEPTED',\n    subTotal:\
    \ 41.89,\n    storeId: '831fd907-b455-4e92-828b-2e5421d057d7',\n    orderTotal: 45.97,\n    createdAt: '2025-09-17T06:59:24.660Z',\n    deliveryId: 'faf5e13e',\n    deliverySource: 'DOORDASH',\n   \
    \ integratorId: '230428004',\n    customerId: 'DOORDASH_CUSTOMER',\n    deliveryDetails: {\n      deliveryId: 'faf5e13e',\n      \"driver\": {\n        \"name\": \"John Doe\",\n        \"phone\": \"\
    91234567890\",\n        \"estimated_time_arrival\": \"string\"\n      }\n      deliveryType: 'DELIVERY',\n      \"customerDetails\": {\n        \"name\": \"Bevz Staging\",\n        \"phone\": \"(917)\
    \ 123-1234\",\n        \"email\": \"string\",\n        \"pinCode\": \"555 55 555\"\n      },\n      deliveryStatus: 'arriving',\n      deliveryInstructions: ''\n    },\n    updatedAt: '2025-09-17T07:06:18.534Z'\n\
    \  }\n}\n```\n\n**Menu Upload Failed Event**\n```json\n{\n  \"id\": 1,\n  \"store_id\": \"6e066cfe-9122-4c30-a7fc-a8894dd72f4h\",\n  \"file_path\": \"https://integrator-menu-569241935122.s3.us-west-1.amazonaws.com/raw/a990fb29-3ea7-4e59-b293-a20574807927_b8c49890-67e5-42b8-aaaa-855ffbe92511.csv\"\
    ,\n  \"status\": \"failed\",\n  \"error_file\": \"https://integrator-menu-569241935122.s3.us-west-1.amazonaws.com/error/a990fb29-3ea7-4e59-b293-a20574807927_b8c49890-67e5-42b8-aaaa-855ffbe92511_error-file.csv\"\
    ,\n  \"date\": \"2023-03-09T04:18:57.658Z\",\n  \"time_completed\": \"\"\n}\n```\n\n**Store Settings Updated Event**\n```json\n{\n  \"event\": \"store_settings_updated\",\n  \"bevzStoreId\": \"831fd907-b455-4e92-828b-2e5421d057d7\"\
    ,\n  \"data\": {\n    \"hours\": [\n      {\n        \"type\": \"DAILY_HOURS\",\n        \"days\": [1, 2, 3, 4, 5, 6, 7],\n        \"openTime\": \"09:00 AM\",\n        \"closeTime\": \"10:00 PM\"\n\
    \      }\n    ]\n  }\n}\n```\n\n## How to Set Up Webhooks\n\n1. **Create Your Webhook Endpoint:**  \n   Set up a URL on your server to receive POST requests from Bevz. Your endpoint should accept JSON\
    \ payloads and handle authentication if needed.\n\n2. **Register Your Webhook with Bevz:**\n   Use the following endpoints to register your webhook URLs:\n   - [Setup Order Notification Webhook](#tag/Integrators/operation/patchOrder)\n\
    \   - [Setup Menu Upload Notification](#tag/Integrators/operation/patchMenuUpload)\n   - **Setup Store Status Webhook:** To enable store status notifications for your integration, please contact your\
    \ Bevz POS integration manager.\n\n3. **(Optional) Secure Your Webhook:**  \n   For added security, you can require a shared secret or token in the request headers or body. Contact your POS integration\
    \ manager to enable this feature.\n\n4. **Receive and Process Events:**  \n   When an event occurs, Bevz will send a POST request to your webhook URL with a JSON payload describing the event. Your system\
    \ should process this data and take any necessary actions (e.g., update your database, notify staff, etc.).\n\n## Best Practices\n\n- Always verify the authenticity of incoming webhook requests.\n-\
    \ Respond with a `200 OK` status to acknowledge receipt.\n- Log webhook events for troubleshooting and auditing.\n- Handle retries gracefully—Bevz may resend events if your endpoint does not respond\
    \ successfully.\n"
- name: Uploading store menu
  description: "## Uploading Your Store Menu\n\nBevz supports two convenient ways to upload your store's menu:\n\n- **CSV File Upload**\n- **JSON Payload in the Request Body**\n\nFor both formats, the following\
    \ fields are **required**: `upc`, `name`, and `price`.\n\n### How It Works\n\n- When you upload a menu, Bevz matches each UPC with products in our database. If a match is found, the product is enabled\
    \ for your store.\n- If any products do not match, you’ll receive a downloadable error file listing those items.\n\n### Sample CSV Upload\n\n| upc           | name                       | price | description\
    \ | stock | quantity | size         | imageurl                                                        |\n|---------------|----------------------------|-------|-------------|-------|----------|--------------|-----------------------------------------------------------------|\n\
    | 00980012301   | FERRERO ROCHER             | 1.99  | Chocolate   | 10    | single   | 12 piece box | https://bevz-media.s3-us-west-1.amazonaws.com/example.png       |\n| 00980080005   | NUTELLA  \
    \                  | 1.0  | Chocolate spread | 10 | single | 350g | https://bevz-media.s3-us-west-1.amazonaws.com/example.png\n| ...           | ...                        | ...   | ...         | ...\
    \   | ...      | ...          | ...                                                             |\n\n### Sample JSON Upload\n\n```json\n{\n  \"menu\": [\n    {\n      \"name\": \"Ben & Jerry's the Tonight\
    \ Dough (16 oz)\",\n      \"upc\": \"76840485116\",\n      \"description\": \"Ben and Jerry's The Tonight Dough Caramel & Chocolate Ice Cream\",\n      \"price\": \"8.90\",\n      \"stock\": \"10\"\
    ,\n      \"size\": \"1 Pint\",\n      \"quantity\": \"Single\",\n      \"imageurl\": \"https://bevz-media.s3-us-west-1.amazonaws.com/example.png\"\n    }\n  ]\n}\n```\n\n### Checking Upload Status\n\
    \n- Use [Retrieve the menu upload status](#tag/Stores/operation/getMenu) to check the status of your upload, download the error file, and see which products were successfully enabled.\n- You can also\
    \ receive real-time updates by configuring a [Menu Upload Webhook](#tag/Webhooks/operation/menuUploadWebhook).\n\n\n> **⚠️ IMPORTANT**  \n> - Ensure all required fields are present and valid.\n> - Use\
    \ the error file to quickly identify and correct any issues with your menu data.\n> - For large menus, consider breaking uploads into smaller batches for easier troubleshooting.\n\n## Error file\nThe\
    \ error file is a CSV that lists products from your upload that did not match any existing items in the Bevz database. Use this file to review and correct any discrepancies.\n\n#### Sample Error File\n\
    \n| quantity | size   | price | name                | upc        | description      | stock | merchantSuppliedId | reason                                      |\n|----------|--------|-------|---------------------|------------|------------------|-------|--------------------|----------------------------------------------|\n\
    | 1        | 1 item | 0.75  | SVC                 | svc1       | -SVC 1.00        | 8     | svc1               | INVALID_UPC                                 |\n| 1        | 1 item | 3.49  | SNAK CLUB\
    \           | 8707621641 | NON-TAXABLE      | 4     | 8707621641         | UPC_NOT_FOUND                                |\n| 1        | 1 item | -5.99 | SC LM CASHEWS 4.50Z | 8707641135 | NOTX - SNACKS\
    \    | 3     | 8707641135         | Invalid amount value, must be numbers only   |\n| 1        | 1 item | 2.99  |                     | 8707641136 | NOTX - SNACKS    | 2     | 8707641136         | Invalid\
    \ name format                          |\n| 1        | 1 item | 3.99  | SC LM CASHEWS 4.50Z | 8707641137 | NOTX - SNACKS    | -5    | 8707641137         | Invalid stock count value, must be numbers\
    \ only |\n\n#### Error Reason Explanations\n\n| Reason                                          | Explanation                                                                                   |\n|-------------------------------------------------|-----------------------------------------------------------------------------------------------|\n\
    | INVALID_UPC                                     | The provided UPC is not in a valid format or contains invalid characters.                     |\n| UPC_NOT_FOUND                                 \
    \  | The UPC does not match any product in the Bevz database.                                      |\n| Invalid amount value, must be numbers only      | The price field contains a non-numeric value\
    \ or a negative number, which is not allowed.      |\n| Invalid name format                             | The product name is missing or contains invalid characters.                                \
    \   |\n| Invalid stock count value, must be numbers only | The stock field contains a non-numeric value or a negative number, which is not allowed.      |\n"
- name: Receiving and processing order
  description: '## Receiving Orders


    Bevz makes it easy to receive and process orders in real time using webhooks and our order management API.


    ### 1. Receive Order Notifications


    - Register your webhook endpoint using [Setup Order Notification Webhook](#tag/Integrators/operation/patchOrder).

    - When a new order is placed or its status changes, Bevz will send a POST request to your webhook with all relevant order details.


    ### 2. Accepting or Updating Orders


    - Use [Patch Order Status](#tag/Order/operation/patchOrderStatus) to accept, update, or cancel orders.

    - Update your internal systems and trigger any necessary notifications or workflows.


    ### 3. Completing Orders


    - When an order is fulfilled and handed over to the delivery service or courier, update its status using [Patch Order Status](#tag/Order/operation/patchOrderStatus).

    - This will trigger notifications and update your records accordingly.


    ### 4. Testing Orders


    - Use [Test Order Status](#tag/Order/operation/testStoreOrders) to simulate order flows and ensure your integration is working as expected.

    - This endpoint allows you to finalize test orders, process payments, and verify that notifications and webhooks are triggered correctly.


    ## Best Practices


    - Always acknowledge webhook events with a `200 OK` response.

    - Validate and log all incoming order data.

    - Handle order status changes promptly to ensure a smooth customer experience.

    - Use the test endpoints to verify your integration before going live.


    For more details, see the [Order API documentation](#tag/Order).

    '
- name: integrators
- name: stores
- name: integrator_users
  description: The Integrator Users API allows you to manage user accounts and access permissions for your integrator account.
  x-displayName: Integrator Users
- name: Delivery Services Onboarding
  description: The Delivery Services Onboarding API enables you to onboard your store to various delivery services partnered with Bevz.
- name: Uber Eats Onboarding API Workflow
  description: 'The Uber Eats API allows you to onboard your store to Uber Eats and manage related operations.


    Uber Eats onboarding is a three-step process:

    1. **Generate OAuth URL:** Obtain an authorization link for the store owner to grant access.

    2. **Exchange Authorization Code:** After authorization, exchange the received code for an access token.

    3. **Provision Store:** Use the access token and Uber Eats store ID to complete the onboarding and enable integration features.


    ### Process Flow

    <img alt="Bevz Create Store Workflow" src="https://join-bevz.s3.us-west-1.amazonaws.com/apidocs_ubereats_pos_workflow.png" />

    '
- name: Pick a Delivery Service for Onboarding API
  description: 'This document outlines the integration flow for onboarding new DoorDash and Grubhub stores through the [Delivery Services Onboarding API](#tag/Pick-a-Delivery-Service-for-Onboarding-API/operation/onboard).


    ## DoorDash Onboarding


    ### Overview

    Onboarding a store to DoorDash is an asynchronous process initiated by Bevz via a webhook. Once the POS sends a request to the [Delivery Services Onboarding API](#tag/Pick-a-Delivery-Service-for-Onboarding-API/operation/onboard),
    DoorDash processes the information, performs necessary checks, and notifies Bevz of the outcome through a webhook.


    ### Process Flow

    1. **Initiate Onboarding Request**

    - The POS sends a request to the Delivery Services Onboarding API with all required store and sensitive information.

    - Refer to the [Delivery Services Onboarding API](#tag/Pick-a-Delivery-Service-for-Onboarding-API/operation/onboard) for required fields.

    2. **DoorDash Processing**

    - DoorDash attempts to map the store using the provided details, requests approval from the merchant, and performs internal checks such as menu QA and business admin verification.

    3. **Receive Webhook Notification**

    - Once DoorDash completes processing, they send a webhook notification to Bevz indicating the onboarding status (e.g., approved, pending, rejected) and any relevant details or next steps.

    4. **Finalize Onboarding**

    - The integration is activated once all requirements and approvals are met. If issues arise (e.g., missing hours, menu errors, compliance problems), DoorDash notifies the merchant and Bevz for resolution.



    ## Grubhub Onboarding


    ### Overview

    The onboarding process enables POS systems to initiate a Grubhub store onboarding request via the [Delivery Services Onboarding API](#tag/Pick-a-Delivery-Service-for-Onboarding-API/operation/onboard).
    Bevz provides an auto-populated onboarding form, which the POS can present to the store. After submission, a Grubhub representative contacts the store to complete setup.


    ### Process Flow

    1. **Initiate Onboarding Request**

    - The POS sends a request to the Delivery Services Onboarding API.

    - This request contains the required store information (e.g., store details, sensitive data).

    2. **Generate Onboarding Link**

    - Bevz responds with a unique onboarding link.

    - This link points to a form that is pre-filled with store data provided in step 1.

    3. **Customer Completes Form**

    - The POS system embeds or redirects the store to the generated onboarding link.

    - The store reviews and completes the form.

    4. **Grubhub Representative Follows Up**

    - Once the store submits the form, the information is sent to Grubhub.

    - A Grubhub representative contacts the store to finalize onboarding and assist with setup.

    '
- name: Store Products
  description: Store Products refer to inventory items that are available in a specific store. These products can be managed, updated, and retrieved through the Store Products API.
- name: Lotto Scratcher Games
  description: '## Lotto Scratcher Games


    Retrieve lottery scratch-off game data from supported state lotteries. This endpoint provides game catalogs that can be used to display lotto ticket information in POS systems.


    ### Supported Lotteries

    - California (CA_LOTTERY)

    - Massachusetts (MA_LOTTERY)

    - Ohio (OH_LOTTERY)

    - Michigan (MI_LOTTERY)

    - Arizona (AZ_LOTTERY)

    - Connecticut (CT_LOTTERY)

    - Illinois (IL_LOTTERY)

    - Georgia (GA_LOTTERY)

    - Florida (FL_LOTTERY)


    ### UPC Barcode Lookup

    When a customer''s lottery ticket is scanned, pass the 12-digit UPC-A barcode along with the source to look up the specific game. The system extracts the game number from the barcode and returns the
    matching game details.

    '
- name: models
  x-displayName: Models
  description: "# Store\n  <SchemaDefinition schemaRef=\"#/components/schemas/Store\" />\n\n# User\n  <SchemaDefinition schemaRef=\"#/components/schemas/User\" />\n\n# Store Products\n  <SchemaDefinition\
    \ schemaRef=\"#/components/schemas/StoreProducts\" />  \n\n# Order\n  <SchemaDefinition schemaRef=\"#/components/schemas/Order\" />\n  \n# Menu Upload\n  <SchemaDefinition schemaRef=\"#/components/schemas/IntegratorMenu\"\
    \ />\n"
- name: faq
  description: "# How do I sign up for an Integrator account?\n  To get started with your Bevz integration, please email your request to [support@bevz.com](mailto:support@bevz.com).\n  An Integrator Account\
    \ Manager will guide you through the onboarding process.\n\n# Common HTTP Error Codes\n  Bevz follows standard HTTP status codes to indicate the outcome of API requests:\n\n  `200 OK`\n  > The request\
    \ was successful.\n\n  `201 Created`\n  > The request was successful and resulted in the creation of a new resource.\n\n  `204 No Content`\n  > The request was successful, but there is no content to\
    \ return.\n\n  `400 Bad Request`\n  > The server could not process the request due to client-side input errors.\n    Please review the API response message for more details.\n\n  `401 Unauthorized`\n\
    \  > The request lacks valid authentication credentials.\n\n  `403 Forbidden`\n  > The server understands the request but refuses to authorize it.\n\n  `404 Not Found`\n  > The requested resource could\
    \ not be found.\n\n  `500 Internal Server Error`\n  > The server encountered an unexpected condition that prevented it from fulfilling the request.\n    If you encounter this error, please contact [tech@bevz.com](mailto:tech@bevz.com)\
    \ for assistance.\n\n# Can other integrators see my data?\n  No. Your data is secured, protected, and accessible only by your organization.\n  Bevz applies multiple security checks and validations to\
    \ safeguard our partners’ data.\n\n# How do I deactivate my Integrator account?\n  For any account deactivation or related concerns, please contact [support@bevz.com](mailto:support@bevz.com).\n\n#\
    \ Technical issues & bugs\n  To report a bug or ask questions about the Integrator Service APIs, please email your technical concerns to [tech@bevz.com](mailto:tech@bevz.com)."
  x-displayName: FAQS
- name: Changelog
  description: "## 1.13.0 2026-04-20 (features)\n### features\n- Added Georgia (`GA_LOTTERY`) and Florida (`FL_LOTTERY`) as supported sources in [**Get Lotto Scratcher Games**](#tag/Lotto-Scratcher-Games/operation/getLottoScratcherGames).\n\
    \n## 1.12.0 2026-03-30 (updates)\n### features\n- Added [**Store Status Webhook**](#tag/Webhooks/operation/storeStatusWebhook) to receive real-time notifications when store settings change (e.g., operating\
    \ hours, delivery service configurations).\n\n## 1.11.3 2025-01-21 (updates)\n### updates\n- Added GrubHub support for [**Post Order Adjustment API**](#tag/Order/operation/postOrderAdjustment).\n  -\
    \ GrubHub now supports `ITEM_UPDATE` and `ITEM_REMOVE` adjustment types.\n  - Note: `ITEM_SUBSTITUTE` is not available for GrubHub orders.\n  - Only one adjustment per order is allowed for GrubHub.\n\
    - Updated `turn_off_duration` valid values to `\"7d\"`, `\"30d\"`, and `\"never\"` for all delivery services.\n- Added `name` as a required field in the `adjustments` object for `ITEM_SUBSTITUTE` requests.\n\
    - Added GrubHub-specific schema and examples in the API documentation.\n\n## 1.11.2 2025-11-27 (minor updates)\n### updates\n- Added delivery_type in the request body of [**Test Store Orders**](#tag/Order/operation/testStoreOrders)\
    \ API for better order classification.\n\n## 1.11.1 2025-10-30 (minor updates)\n### updates\n- Implemented [**Get Order by OrderId**](#tag/Order/operation/getOrderId) API.\n- Added date_field in the\
    \ query parameters of [**Get Store Orders**](#tag/Order/operation/getStoreOrders) API for better filtering.\n\n## 1.11.0 2025-10-06 (updates)\n### updates\n- Added Order Adjustments workflow for DoorDash\
    \ and Uber Eats in [**Post Order Adjustment API**](#tag/Order/operation/postOrderAdjustment).\n- Updated Grubhub onboarding process in [**Delivery Services Onboarding API**](#tag/Pick-a-Delivery-Service-for-Onboarding-API/Grubhub-Onboarding).\n\
    - Added Uber Eats onboarding workflow in [**Uber Eats Onboarding API**](#tag/Uber-Eats-Onboarding-API-Workflow).\n\n## 1.10.8 2025-09-04 (minor updates)\n### updates\n- Added merchantSuppliedId column\
    \ in CSV example in [**Get Store Products**](#tag/Store-Products/operation/getProducts) API.\n- Added store products description in [**Store Products**](#tag/Store-Products) API\n- Updated wordings\
    \ `Upload Menu` to `Menu Upload`.\n- Updated `Menu Sync Webhook` to `Menu Upload Webhook`.\n\n## 1.10.7 2024-11-11 (updates)\n- ### [**Upload Menu**](#tag/Stores/operation/postMenu) API Updates\n  -\
    \ Added `merchantSupplied` as an Optional Field in the Payload for Upload Menu API\n     - Introduced `merchantSuppliedId` as an optional field in the payload, representing the ID of the integrator's\
    \ products for better product mapping.\n  - The required fields for the [**Upload Menu**](#tag/Stores/operation/postMenu) API request have been updated. The following fields are now required:\n    \
    \  - `upc`\n      - `name`\n      - `price`\n      \n      The following fields are no longer required:\n      - `size`\n      - `quantity`\n  - Added `stockcount_column_name` to [**Upload Menu**](#tag/Stores/operation/postMenu)\
    \ API Payload\n    - Introduced a new field, `stockcount_column_name`, in the API payload to allow for customizable stock count column names.\n  \n- ### [Provision Existing Store](#tag/Stores/operation/postStore)\
    \ API Updates\n  - Added store data to the API response.\n  - Moved the \"Cannot provision, store does not exist in Bevz\" error from the 400 status code to 404.\n  - Enhanced API description for better\
    \ clarity.\n\n- ### [Get Store Orders](#tag/Order/operation/getStoreOrders) API Updates\n  - Added `merchantSupplied` Under `OrderProducts` in Get Order API response.\n    - Introduced the `merchantSupplied`\
    \ field under `OrderProducts` in the Get Order API response for better order detail tracking.\n\n- Added Workflow Image and Enhanced Description in [**Setup Store**](#tag/Preparing-Your-Store/Setup-Store)\n\
    \   - Included a visual workflow image in the \"Setup Store\" section.\n   - Expanded the description to provide clearer guidance for users during the setup process.\n\n## 1.10.6 2024-07-31 (updates)\n\
    ### updates\n-  updated `orderProducts.$.productSnapshot` fields in [**Order Model**](#tag/models/Order).\n   \n   Affected endpoints:  [**Get Store Orders**](#tag/Order/operation/getStoreOrders) and\
    \ [**Test Store Orders**](#tag/Order/operation/testStoreOrders) 200 response.\n- Added `name` `phoneNumber` fields in payload of [**Update Store**](#tag/Stores/operation/patchStore)\n\n## 1.10.5 2024-07-02\
    \ (minor updates)\n### updates\n- updated query parameters and `200` status response for [**Get Store Products**](#tag/Store-Products/operation/getProducts)\n- updated payload and `200` status response\
    \ for [**Patch Store Products**](#tag/Store-Products/operation/patchProduct)\n\n\n## 1.10.4 2024-01-11 (minor updates)\n### updates\n- moved `callback_url` from Request Body to Query Parameters in [**Generate\
    \ Checkout Link**](#tag/Stores/operation/generateCheckoutLink)\n- added `upc` and `id` in `orderProducts` ➝ `productSnapshot` ➝ `pricing` in [**Order Notification Webhook**](#tag/Webhooks/operation/orderWebhook)\n\
    - `order_items.product_id` can now either be uuid or upc value in [**Test Store Orders**](#tag/Order/operation/testStoreOrders) Request Body\n\n## 1.10.3 2023-12-21 (minor updates)\n### updates\n- added\
    \ `callback_url` as optional request on requestBody [**Get Subscription Link**](#tag/Stores/operation/getSubscriptionLink) API\n\n## 1.10.2 2023-12-11 (minor updates)\n### updates\n- change request\
    \ method of [**Get Subscription Link**](#tag/Stores/operation/getSubscriptionLink) from **GET** to **POST**\n- change `zip` attribute to `zipCode` in [**Patch Store**](#tag/Stores/operation/patchStore)\n\
    - remove `type` attribute [**Patch Store**](#tag/Stores/operation/patchStore)\n- Updated [**Preparing Store**](#tag/Preparing-Your-Store) contents\n\n\n## 1.10.1 2023-10-13 (minor changes)\n### updates\n\
    - update [Patch Product](#tag/Store-Products/operation/patchProduct) where when `stock` value in `pricingOverride` is set to '0', the said product variant will be deleted\n\n## 1.10.0 2023-10-13 (version_update)\n\
    ### updates\n- added `upc_column_name`, `price_column_name`, and `name_column_name`\n- remove `type` attribute in JSON payload in [**Upload Menu**](#tag/Stores/operation/postMenu)\n- `upc`, `price`,\
    \ and `name` are now the only required columns/attributes in [**Upload Menu**](#tag/Stores/operation/postMenu). \n  Remove `size` and `quantity`\n- `uploadMenuId` in the 200 response of [**Upload Menu**](#tag/Stores/operation/postMenu)\
    \ change from integer type to uuid\n- added  [**Use Our Dedicated Onboarding Page**](#tag/Preparing-Your-Store/Use-Our-Dedicated-Onboarding-Page) Guide\n\n\n## 1.9.0 2023-09-25 (version_update)\n###\
    \ features\n- added [**Menu Sync**](#tag/Stores/operation/menuSync) API\n- added Subscription Management API\n\n### updates\n- set dynamic product item when creating a test order in [**Test Store Orders**](#tag/Order/operation/testStoreOrders)\n\
    - remove `testing` attributes in the payload of [**Test Store Orders**](#tag/Order/operation/testStoreOrders)\n- added `delivery_source`, `order_items`, `delivery_instructions`, `delivery_address` in\
    \ the payload of [**Test Store Orders**](#tag/Order/operation/testStoreOrders)\n\n## 1.8.1 2023-08-08 (minor changes)\n### updates\n- added `bevzPrice`, `doordashPrice`, `grubhubPrice`, `uberEatsPrice`\
    \ fields in `pricingOverride` response in [**Get Store Products**](#tag/Store-Products/operation/getProducts) API\n- added response in [**Patch Store Products**](#tag/Store-Products/operation/patchProduct)\
    \ API\n\n## 1.8.0 2023-07-13 (version_update)\n### features\n- added **Guides**\n- added [**Test Store Orders**](#tag/Order/operation/testStoreOrders) API\n- added [**Generate Checkout Link**](#tag/Stores/operation/generateCheckoutLink)\
    \ API\n\n### changes\n- change url of [**Retrieve the menu upload status**](#tag/Stores/operation/getMenu) from `{base_url}/integrators/{integrator_id}/stores/{store_id}/menu`\n  `{base_url}/integrators/{integrator_id}/stores/{store_id}/menu/{menu_id}`\n\
    \n## 1.7.0 2023-06-23 (version_update)\n### features\n- added [**Get Store Orders**](#tag/Order/operation/getStoreOrders) API\n- added [**Update Order Status**](#tag/Order/operation/patchOrderStatus)\
    \ API\n- added [**Create Store**](#tag/Stores/operation/createStore) API\n- added [**Onboard Delivery Service**](#tag/Stores/operation/createStore) API\n- added [**Create Store**](#tag/models/Create-Store)\
    \ Model\n- added [**Menu Sync Webhook**](#tag/Webhooks/operation/menuSyncWebhook)\n- added [**Delivery Settings**](#tag/models/DeliverySettings) Model\n\n### updates\n- update attributes in [**Order\
    \ Model**](#tag/models/Order)\n\n### changes\n- Users\n\n  - rename [Users](#tag/integrator_users) to [Integrator Users](#tag/integrator_users)\n    - rename **Manage users access** -> **Retrieve All\
    \ Integrator User Access**\n    - rename **Update user details** -> **Update Integrator User Details**\n    - rename **Change User Password** -> **Change Integrator User Password**\n- Webhooks\n  -\
    \ rename [Order](#tag/Order/operation/patchOrder) -> [**Setup Order Notification Webhook**](#tag/Order/operation/patchOrder)\n  - rename [Menu](#tag/Order/operation/patchMenuSync) -> [**Setting Up Menu\
    \ Sync Notification**](#tag/Order/operation/patchMenuSync)\n  - moved the following apis from Webhook to [Integrators](#tag/Integrators)\n    - [Setup Order Notification Webhook](#tag/Order/operation/patchOrder)\n\
    \    - [Setting Up Menu Sync Notification](#tag/Order/operation/patchMenuSync)\n- Integrators\n  - moved the following apis from [Integrators](#tag/Integrators) to [Stores](#tag/Stores)\n    - Retrieves\
    \ all provisioned store\n    - Provision store\n    - Deprovision store\n    - Get store by store_id\n\n## 1.5.0 2023-06-01 (version_update)\n### features\n-  added [Get Integrator Store](#tag/Integrators/operation/getIntegratorStore)\n\
    \n### changes\n- change [Patch Order](#tag/Order/operation/patchOrder) and [Menu Sync](#tag/Menu-Sync/operation/patchMenuSync) url from \n  `/integrators/{integrator_id}/update-integrator` to `/integrators/{integrator_id}`\n\
    - change [Patch Store](#tag/Stores/operation/patchStore) url from \n  `/integrators/{integrator_id}/stores/{store_id}/update-status` to `/integrators/{integrator_id}/stores/{store_id}`\n- change `price`\
    \ field into `amount` in [Patch Product Store](tag/Store-Products/operation/patchProduct)\n\n### updates\n- added `address` and `deliverySettings` in [Patch Store](#tag/Stores/operation/patchStore)\n\
    - add increment in API version on changelogs\n- added new 400 responses messages in [Patch Store](#tag/Stores/operation/patchStore)\n\n## 1.5.2 2023-05-22 (minor changes)\n### updates \n- change [Patch\
    \ Integrator Order](#tag/Order/operation/patchOrder) and [Patch Integrator Menu Sync](#tag/Menu-Sync/operation/patchMenuSync)  url from `/integrators/{integrator_id}/update-status` to `/integrators/{integrator_id}/update-integrator`\n\
    - Separate `orderNotificationUrl` and `menuSyncNotificationUrl` to each of its corresponding webhooks.\n\n### fixes\n- fix sample request body for adding integrator user\n- fix field in  [Integrator\
    \ Menu](#tag/integratormenu) for `id` to `type`\n\n## 1.5.1 2023-05-16 (minor changes)\n### updates\n- added `taxRate` and `hours` [Patch Store](#tag/Stores/operation/patchStore)\n- added descriptions\
    \ in entity fields\n\n## 1.5.0 2023-05-04 (version_update)\n### fixes\n- fix sample request body for adding integrator user\n- fix field in  [Integrator Menu](#tag/integratormenu) for `id` to `type`\n\
    \n### changes\n- changed description for [Retrieve Upload Menu Status](#tag/Stores/operation/getMenu) API\n- added `price`, `size`, `quantity`, and as required field\n  in [Upload Menu](#tag/Stores/operation/postMenu)\
    \ API\n- update and added fields in response in [Get Products](#tag/Store-Products/operation/getProducts)\n- update datatype and remove `upc` field for updating in [Patch Product](#tag/Store-Products/operation/patchProduct)\
    \ API\n\n## 1.4.0 2023-04-27 (version_update)\n### changes\n- Changed development base url from `https://sandbox-api.bevz.com/microservices` to `https://sandbox-api.bevz.com/integrator-service`\n- Added\
    \ changelogs\n\n## 1.3.0 2023-04-24 (version_update)\n### feature\n- added [Update Status](#tag/Integrators/operation/patchStatus) API for integrator\n- added [Order Webhook](#tag/Order) event\n\n##\
    \ 1.2.1 2023-04-19 (minor changes)\n### changes\n- update requestbody in [Patch Store Products](#tag/Store-Products/operation/patchProduct)\n\n## 1.2.0 2023-04-18 (version_update)\n### feature *store\
    \ product*\n- added [Get Products](#tag/Store-Products/operation/getProducts) API\n- added [Patch Product](#tag/Store-Products/operation/patchProduct) API\n- added [Delete Product](#tag/Store-Products/operation/deleteProduct)\
    \ API\n- added [Integrator Menu](#tag/integratormenu) Entity\n\n## 1.1.0 2023-03-31 (version_update)\n### feature\n- added CSV as payload for upload menu API\n"
x-tagGroups:
- name: getting started
  tags:
  - Introduction
  - What is this documentation for?
  - Getting Started
- name: guides
  tags:
  - Preparing Your Store
  - Using Webhooks
  - Uploading store menu
  - Receiving and processing order
- name: apis
  tags:
  - Integrators
  - integrator_users
  - Stores
  - Store Products
  - Lotto Scratcher Games
  - Order
- name: Delivery Services Onboarding
  tags:
  - Pick a Delivery Service for Onboarding API
  - Uber Eats Onboarding API Workflow
- name: webhooks
  tags:
  - Webhooks
- name: models
  tags:
  - models
- name: faqs
  tags:
  - faq
- name: changelog
  tags:
  - Changelog
paths:
  /integrators/{integrator_id}:
    patch:
      parameters:
      - name: integrator_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Unique identifier for the integrator.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: "JWT token for authenticating API requests.  \n"
        example: Bearer yourJWTtoken
      tags:
      - Integrators
      operationId: patchOrder
      summary: Setup Order Notification Webhook
      description: 'Configure the webhook URL to receive real-time order notifications from Bevz.


        Use this endpoint to set up or update the webhook endpoint where order events (such as new orders, status updates, and cancellations) will be delivered for your integration.


        #### How It Works


        1. Create a webhook endpoint on your server to handle incoming order notifications.

        2. Use this API to register your webhook URL with Bevz.

        3. Bevz will send HTTP POST requests to your endpoint whenever relevant order events occur.

        '
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orderNotificationUrl
              properties:
                orderNotificationUrl:
                  type: string
                  description: Webhook URL to receive order notifications.
                  example: https://sample_order_webhook.com
      responses:
        '200':
          description: Integrator status successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Integrator status successfully updated
        '400':
          description: Bad request! Please check your input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
              examples:
                '"orderNotificationUrl" is required':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"orderNotificationUrl" is required'
                '"orderNotificationUrl" must be a string':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"orderNotificationUrl" must be a string'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
              examples:
                Integrator unauthorized to perform this action!:
                  value:
                    message: Unauthorized request! Please check your permission.
                    errors:
                    - Integrator unauthorized to perform this action!
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User is not authorized to access this resource with an explicit deny
        '404':
          description: 404 Resource is not found!
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 404 Resource is not found!
                  errors:
                    type: array
                    example:
                    - IntegratorId not found
  /integrators/{integrator_id}ㅤ:
    patch:
      parameters:
      - name: integrator_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Unique identifier for the integrator.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: "JWT token for authenticating API requests.  \n"
        example: Bearer yourJWTtoken
      tags:
      - Integrators
      operationId: patchMenuUpload
      summary: Setup Menu Upload Notification
      description: 'Configure the webhook URL to receive real-time menu upload status notifications from Bevz.


        Use this endpoint to set up or update the webhook endpoint where menu upload events (such as processing, completed, or failed uploads) will be delivered for your integration.


        #### How It Works


        1. Create a webhook endpoint on your server to handle incoming menu upload notifications.

        2. Use this API to register your webhook URL with Bevz.

        3. Bevz will send HTTP POST requests to your endpoint whenever a menu upload event occurs.

        '
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - menuUploadNotificationUrl
              properties:
                menuUploadNotificationUrl:
                  type: string
                  description: Webhook URL to receive menu upload status notifications.
                  example: https://sample_menu_webhook.com
      responses:
        '200':
          description: Integrator status successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Integrator status successfully updated
        '400':
          description: Bad request! Please check your input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
              examples:
                '"menuUploadNotificationUrl" is required':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"menuUploadNotificationUrl" is required'
                '"menuUploadNotificationUrl" must be a string':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"menuUploadNotificationUrl" must be a string'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
              examples:
                Integrator unauthorized to perform this action!:
                  value:
                    message: Unauthorized request! Please check your permission.
                    errors:
                    - Integrator unauthorized to perform this action!
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User is not authorized to access this resource with an explicit deny
        '404':
          description: 404 Resource is not found!
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 404 Resource is not found!
                  errors:
                    type: array
                    example:
                    - IntegratorId not found
  /integrators/{integrator_id}/stores:
    get:
      tags:
      - Stores
      operationId: getStores
      summary: Retrieve All Provisioned Stores
      description: 'Fetch a list of all stores that have been provisioned under your integrator account.


        Use this endpoint to view all stores managed by your organization, including their identifiers, contact information, operational status, and integration details.


        For details on the store object schema, see [Store](#tag/models/Store).

        '
      parameters:
      - name: integrator_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Unique identifier for the integrator.
      - name: Authorization
        in: header
        description: JWT token for authenticating API requests.
        example: Bearer yourJWTtoken
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Retrieved all provisioned stores
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: "Represents a retail store managed on the Bevz platform.  \nThis object contains all essential information about the store, including its identity, contact details, operational\
                    \ hours, delivery service settings, and more.\nUse this schema to view, create, or update store records via the API.\n"
                  properties:
                    storeId:
                      type: string
                      description: Unique identifier for the store.
                      example: a744c900-fe43-4ec8-9ae1-f096c9f50240
                    address:
                      type: object
                      description: Physical address where the store is located.
                      properties:
                        city:
                          type: string
                          description: City where the store operates.
                          example: Santa Monica
                        latitude:
                          type: number
                          description: Latitude coordinate of the store location (positive or negative float).
                          example: 42.3456778143501
                        longtitude:
                          type: number
                          description: Longitude coordinate of the store location (positive or negative float).
                          example: -71.09837363184101
                        state:
                          type: string
                          description: State or province abbreviation.
                          example: CA
                        street1:
                          type: string
                          description: Primary street address of the store.
                          example: 123123 10th St
                        zip:
                          type: string
                          description: Postal or ZIP code.
                          example: '90401'
                    email:
                      type: string
                      description: Contact email address for the store.
                      example: developer@bevz.com
                    enabled:
                      type: boolean
                      description: Indicates whether the store is active and can operate in the app.
                      example: true
                    hours:
                      type: array
                      description: List of store operating hours for each day of the week.
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            example: DAILY_HOURS
                          days:
                            type: array
                            description: '* 1 Sunday

                              * 2 Monday

                              * 3 Tuesday

                              * 4 Wednesday

                              * 5 Thursday

                              * 6 Friday

                              * 7 Saturday

                              '
                            example:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                          openTime:
                            type: string
                            format: hh:mm A
                            example: 12:00 AM
                          closeTime:
                            type: string
                            format: hh:mm A
                            example: 4:00 PM
                    name:
                      type: string
                      description: Display name of the store.
                      example: Bevz Test Store
                    phone:
                      type: string
                      description: Primary contact phone number for the store.
                      example: 639123456789
                    phones:
                      type: array
                      description: List of additional contacts associated with the store, each with their phone number.
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            example: John Doe
                          number:
                            type: string
                            example: 639123456789
                    taxRate:
                      type: string
                      description: Sales tax rate (%) applied to purchases at this store.
                      example: '9.50'
                    updatedAt:
                      type: number
                      description: Epoch timestamp (in milliseconds) of the last update to the store record.
                      example: 1677773721909
                    deliverySettings:
                      type: object
                      description: 'Configuration settings for each supported delivery service (e.g., DoorDash, Grubhub, Uber Eats).

                        Includes authorization status, commission rates, menu sync status, and other integration-specific options.

                        '
                      properties:
                        doordash:
                          type: object
                          description: DoorDash delivery service integration settings.
                          properties:
                            storeId:
                              type: string
                              description: DoorDash store identifier.
                              example: a744c900-fe43-4ec8-9ae1-f096c9f50240
                            authorized:
                              type: boolean
                              description: Whether the store is authorized with DoorDash.
                              example: true
                            enabled:
                              type: boolean
                              description: Whether DoorDash integration is enabled for this store.
                              example: true
                            roundPrice:
                              type: boolean
                              description: Whether prices should be rounded for DoorDash orders.
                              example: true
                            percentToCharge:
                              type: number
                              description: Commission percentage charged for DoorDash orders.
                              example: 17
                            revSharePercentage:
                              type: number
                              description: Revenue share percentage for DoorDash.
                              example: 1.5
                            reason:
                              type: string
                              description: Reason for any status or configuration changes.
                              example: ''
                            note:
                              type: string
                              description: Additional notes regarding DoorDash integration.
                              example: ''
                            menuSync:
                              type: object
                              description: Current menu synchronization status with DoorDash.
                              properties:
                                menuSynching:
                                  type: boolean
                                  description: Indicates if a menu sync is currently in progress.
                                  example: false
                                syncStart:
                                  type: number
                                  description: Epoch timestamp when menu sync started.
                                  example: 0
                                syncEnd:
                                  type: number
                                  description: Epoch timestamp when menu sync ended.
                                  example: 0
                                status:
                                  type: string
                                  description: Result status of the last menu sync (e.g., SUCCESS, FAILURE, IN_PROGRESS).
                                  example: SUCCESS
                                menuId:
                                  type: string
                                  description: DoorDash menu identifier.
                                  example: ''
                        grubhub:
                          type: object
                          description: Grubhub delivery service integration settings.
                          properties:
                            storeId:
                              type: string
                              description: Grubhub store identifier.
                              example: a744c900-fe43-4ec8-9ae1-f096c9f50240
                            authorized:
                              type: boolean
                              description: Whether the store is authorized with Grubhub.
                              example: true
                            enabled:
                              type: boolean
                              description: Whether Grubhub integration is enabled for this store.
                              example: true
                            roundPrice:
                              type: boolean
                              description: Whether prices should be rounded for Grubhub orders.
                              example: true
                            percentToCharge:
                              type: number
                              description: Commission percentage charged for Grubhub orders.
                              example: 17
                            revSharePercentage:
                              type: number
                              description: Revenue share percentage for Grubhub.
                              example: 1.5
                            reason:
                              type: string
                              description: Reason for any status or configuration changes.
                              example: ''
                            note:
                              type: string
                              description: Additional notes regarding Grubhub integration.
                              example: ''
                            menuSync:
                              type: object
                              description: Current menu synchronization status with Grubhub.
                              properties:
                                menuSynching:
                                  type: boolean
                                  description: Indicates if a menu sync is currently in progress.
                                  example: false
                                syncStart:
                                  type: number
                                  description: Epoch timestamp when menu sync started.
                                  example: 0
                                syncEnd:
                                  type: number
                                  description: Epoch timestamp when menu sync ended.
                                  example: 0
                                status:
                                  type: string
                                  description: Result status of the last menu sync (e.g., SUCCESS, FAILED).
                                  example: SUCCESS
                                menuId:
                                  type: string
                                  description: Grubhub menu identifier.
                                  example: ''
                        uberEats:
                          type: object
                          description: Uber Eats delivery service integration settings.
                          properties:
                            storeId:
                              type: string
                              description: Uber Eats store identifier.
                              example: a744c900-fe43-4ec8-9ae1-f096c9f50240
                            authorized:
                              type: boolean
                              description: Whether the store is authorized with Uber Eats.
                              example: true
                            enabled:
                              type: boolean
                              description: Whether Uber Eats integration is enabled for this store.
                              example: true
                            roundPrice:
                              type: boolean
                              description: Whether prices should be rounded for Uber Eats orders.
                              example: true
                            percentToCharge:
                              type: number
                              description: Commission percentage charged for Uber Eats orders.
                              example: 17
                            revSharePercentage:
                              type: number
                              description: Revenue share percentage for Uber Eats.
                              example: 1.5
                            reason:
                              type: string
                              description: Reason for any status or configuration changes.
                              example: ''
                            note:
                              type: string
                              description: Additional notes regarding Uber Eats integration.
                              example: ''
                            menuSync:
                              type: object
                              description: Current menu synchronization status with Uber Eats.
                              properties:
                                menuSynching:
                                  type: boolean
                                  description: Indicates if a menu sync is currently in progress.
                                  example: false
                                syncStart:
                                  type: number
                                  description: Epoch timestamp when menu sync started.
                                  example: 0
                                syncEnd:
                                  type: number
                                  description: Epoch timestamp when menu sync ended.
                                  example: 0
                                status:
                                  type: string
                                  description: Result status of the last menu sync (e.g., SUCCESS, FAILED).
                                  example: SUCCESS
                                menuId:
                                  type: string
                                  description: Uber Eats menu identifier.
                                  example: ''
        '400':
          description: Bad request! Please check your input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
              examples:
                Integrator unauthorized to perform this action!:
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - Integrator unauthorized to perform this action!
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
              examples:
                Integrator unauthorized to perform this action!:
                  value:
                    message: Unauthorized request! Please check your permission.
                    errors:
                    - Integrator unauthorized to perform this action!
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User is not authorized to access this resource with an explicit deny
    post:
      tags:
      - Stores
      operationId: createStore
      summary: Create a New Store
      description: "Register a new store under your integrator account.\n\nUse this endpoint to create a store by providing essential details such as name, address, contact information, and operational\
        \ settings.  \nAfter creation, the store will be available for menu uploads, order processing, and delivery service onboarding.\n\n#### Example Usage\n\n- Onboard a new retail location to the Bevz\
        \ platform.\n- Register a store for menu management and delivery service integration.\n"
      parameters:
      - name: integrator_id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the integrator.
      - name: Authorization
        in: header
        description: JWT token for authenticating API requests.
        example: Bearer yourJWTtoken
        required: true
        schema:
          type: string
      requestBody:
        description: 'JSON payload containing the details of the store to be created.

          '
        content:
          application/json:
            schema:
              type: object
              properties:
                account:
                  type: object
                  description: 'Contains the account credentials for the store owner.

                    This information is used to create a user account associated with the new store.

                    '
                  properties:
                    emailAddress:
                      type: string
                      description: 'Email address for the store owner''s account.

                        This will be used as the username for login and for account-related notifications.

                        '
                      example: sample_email@bevz.com
                    password:
                      type: string
                      description: 'Password for the store owner''s account.

                        Must meet security requirements as defined by the platform (e.g., minimum length, character types).

                        '
                      example: sample_password
                    confirmPassword:
                      type: string
                      description: 'Confirmation of the password to ensure accuracy during account creation.

                        Must match the value provided in the `password` field.

                        '
                      example: sample_password
                operationHours:
                  type: array
                  description: 'Defines the store''s operating hours for specific days of the week.

                    Each entry specifies the opening and closing times, as well as the days these hours apply.

                    Multiple entries can be used to represent different schedules (e.g., split shifts or varying hours on different days).

                    '
                  items:
                    type: object
                    properties:
                      openTime:
                        type: string
                        description: Opening time for the store on the specified days, in 12-hour format with AM/PM.
                        format: hh:mm A
                        example: 03:30 AM
                      closeTime:
                        type: string
                        description: Closing time for the store on the specified days, in 12-hour format with AM/PM.
                        format: hh:mm A
                        example: 02:00 PM
                      days:
                        type: array
                        description: "List of days of the week when these hours apply.\nUse the following mapping:\n  * 1 = Sunday\n  * 2 = Monday\n  * 3 = Tuesday\n  * 4 = Wednesday\n  * 5 = Thursday\n\
                          \  * 6 = Friday\n  * 7 = Saturday\nYou can specify multiple days in a single entry (e.g., `[2, 3, 4, 5, 6]` for Monday–Friday).\n"
                        items:
                          type: integer
                          minimum: 1
                          maximum: 7
                        example:
                        - 1
                        - 2
                        - 3
                store:
                  type: object
                  description: 'Contains essential details about the store, including its name, address, and contact information.

                    '
                  properties:
                    name:
                      type: string
                      description: The display name of the store.
                      example: Bevz Test Store
                    address:
                      type: object
                      required:
                      - street1
                      - state
                      - city
                      - zipCode
                      description: Physical address where the store is located.
                      properties:
                        city:
                          type: string
                          description: City where the store operates.
                          example: Santa Monica
                        state:
                          type: string
                          description: State or province abbreviation.
                          example: CA
                        street1:
                          type: string
                          description: Primary street address of the store.
                          example: 123123 10th St
                        street2:
                          type: string
                          description: Secondary address line (optional)
                          example: ''
                        zipCode:
                          type: string
                          description: Postal or ZIP code.
                          example: '90401'
                    phoneNumber:
                      type: string
                      description: Primary contact phone number for the store.
                      example: '7852630348'
                    emailAddress:
                      type: string
                      description: Contact email address for the store.
                      example: bevz_test_store@bevz.com
      responses:
        '200':
          description: Successful Bevz subscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  storeId:
                    type: string
                    example: 831fd907-b455-4e92-828b-2e5421d057d7
                  checkoutLink:
                    type: string
                    example: https://checkout.stripe.com/c/pay/longstringhere
        '400':
          description: Bad request! Please check your input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
              examples:
                '"account.emailAddress" is not allowed to be empty':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"account.emailAddress" is not allowed to be empty'
                Email already exists. Please use a different email:
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - Email already exists. Please use a different email
                '"account.password" is not allowed to be empty':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"account.password" is not allowed to be empty'
                '"account.password" length must be at least 8 characters long':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"account.password" length must be at least 8 characters long'
                Password should be the same:
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - Password should be the same
                operationHours must be in hh:mm A format:
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - operationHours[0].openTime must be in hh:mm A format
                    - operationHours[0].closeTime must be in hh:mm A format
                Opening time should be before Closing time:
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - 'Opening time should be before Closing time: [{days: [1], openTime: "07:00 PM", closeTime: "08:00 AM", type: "DAILY"}]'
                '"operationHours[0].type" is not allowed to be empty':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"operationHours[0].type" is not allowed to be empty'
                '"store.name" is not allowed to be empty':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"store.name" is not allowed to be empty'
                '"store.address.street1" is not allowed to be empty':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"store.address.street1" is not allowed to be empty'
                '"store.address.city" is not allowed to be empty':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"store.address.city" is not allowed to be empty'
                '"store.address.state" is not allowed to be empty':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"store.address.state" is not allowed to be empty'
                '"store.address.zipCode" is not allowed to be empty':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"store.address.zipCode" is not allowed to be empty'
                '"store.phoneNumber" is not allowed to be empty':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"store.phoneNumber" is not allowed to be empty'
                Invalid phone number.  Please input a valid phone number:
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - Invalid phone number.  Please input a valid phone number
                '"store.emailAddress" must be valid email':
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - '"store.emailAddress" must be valid email'
                Invalid address. Please input a valid address:
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - Invalid address. Please input a valid address
                operationHours[0].days[1] must be greater than or equal to 1:
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - operationHours[0].days[1] must be greater than or equal to 1
                operationHours[0].days[1] must be less than or equal to 7:
                  value:
                    message: Bad request! Please check your input.
                    errors:
                    - operationHours[0].days[1] must be less than or equal to 7
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
              examples:
                Integrator unauthorized to perform this action!:
                  value:
                    message: Unauthorized request! Please check your permission.
                    errors:
                    - Integrator unauthorized to perform this action!
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User is not authorized to access this resource with an explicit deny
  /integrators/{integrator_id}/stores/{store_id}:
    parameters:
    - name: integrator_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: Unique identifier for the integrator.
    - name: store_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Unique identifier for the store.
    - name: Authorization
      in: header
      required: true
      schema:
        type: string
      description: "JWT token for authenticating API requests.  \n"
      example: Bearer yourJWTtoken
    get:
      tags:
      - Stores
      operationId: getIntegratorStore
      summary: Get Store by store_id
      description: 'Retrieve detailed information about a specific store using its unique `store_id`.


        Use this endpoint to fetch all available data for a store, including its identity, contact information, operational status, integration settings, and delivery service configurations.


        For details on the store object schema, see [Store](#tag/models/Store).

        '
      responses:
        '200':
          description: Successfuly retrieved store
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    storeId:
                      type: string
                      example: 831fd907-b455-4e92-828b-2e5421d057d7
                    address:
                      type: object
                      description: address where the store is located
                      properties:
                        city:
                          type: string
                          example: Santa Magdalena
                        latitude:
                          type: number
                          description: can be positive or negative float value
                          example: 42.3456778143501
                        longtitude:
                          type: number
                          description: can be positive or negative float value
                          example: -71.09837363184101
                        state:
                          type: string
                          example: CA
                        street1:
                          type: string
                          description: primary street
                          example: 123123 10th St
                        zipCode:
                          type: string
                          example: 90401
                    email:
                      type: string
                      description: email used by store for contact and business
                      example: developer@bevz.com
                    setup:
                      type: boolean
                      description: whether can store operate in the app or not
                      example: true
                    subscriptionStatus:
                      type: string
                      description: trialing | active | inactive | cancelling | canceled
                      example: active
                    hours:
                      type: array
                      description: list of store hours each in each specific day(s)
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            example: DAILY_HOURS
                          days:
                            type: array
                            description: '* 1 Sunday

                              * 2 Monday

                              * 3 Tuesday

                              * 4 Wednesday

                              * 5 Thursday

                              * 6 Friday

                              * 7 Saturday

                              '
                            example:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                          openTime:
                            type: string
                            format: hh:mm A
                            example: 12:00 AM
                          closeTime:
                            type: string
                            format: hh:mm A
                            example: 4:00 PM
                    name:
                      type: string
                      example: Percy Store
                    deliverySettings:
                      type: object
                      properties:
                        doordash:
                          type: object
                          properties:
                            note:
                              type: string
                              example: ''
                            reason:
                              type: string
                              example: ''
                            roundPrice:
                              type: boolean
                              example: false
                            authorized:
                              type: boolean
                              example: true
                            menuSync:
                              type: object
                              properties:
                                menuId:
                                  type: string
                                  example: ''
                                menuSynching:
                                  type: boolean
                                  example: false
                                syncStart:
                                  type: number
                                  example: 0
                                syncEnd:
                                  type: number
                                  example: 0
                                status:
                                  type: string
                                  example: SUCCESS
                            storeId:
                              type: string
                              example: 831fd907-b455-4e92-828b-2e5421d057d6
                            percentToCharge:
                              type: string
                              example: '35'
                            enabled:
                              type: boolean
                              example: false
        '400':
          description: Bad request! Please check your input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Bad request! Please check your input.
                  errors:
                    type: array
                    example:
                    - Integrator unauthorized to perform this action!
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
              examples:
                Integrator unauthorized to perform this action!:
                  value:
                    message: Unauthorized request! Please check your permission.
                    errors:
                    - Integrator unauthorized to perform this action!
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User is not authorized to access this resource with an explicit deny
    patch:
      tags:
      - Stores
      operationId: patchStore
      summary: Update Store Details
      description: 'Update one or more fields for a specific store.


        Use this endpoint to modify store attributes such as name, contact information, address, operational hours, or integration settings.

        Only the fields provided in the request body will be updated; all other fields will remain unchanged.


        > **Note:**

        At least one field must be included in the request body to perform an update.


        #### Example Usage


        - Update the store''s phone number or email address.

        - Change the store''s operational hours or address.

        - Modify delivery service integration settings.

        '
      requestBody:
        description: 'JSON payload containing the fields to update for the store.

          All fields are optional, but at least one field must be provided.

          '
        content:
          application/json:
            schema:
              type: object
              description: 'Represents the payload for updating (patching) store details on the Bevz platform.

                Only the fields provided in the request body will be updated; all other fields will remain unchanged.

                Use this schema to update store information, operational hours, tax rate, and delivery service integration settings.

                '
              properties:
                name:
                  type: string
                  description: Updated display name for the store.
                  example: Update Test Store Name
                phoneNumber:
                  type: string
                  description: Updated primary contact phone number for the store.
                  example: '17000000000'
                enabled:
                  type: boolean
                  description: Indicates whether the store is active and can operate in the app.
                  example: true
                taxRate:
                  type: string
                  description: Sales tax rate (%) to be applied to purchases at this store.
                  example: '9.5'
                hours:
                  type: array
                  description: 'List of updated store operating hours for specific days of the week.

                    Each entry specifies the opening and closing times, as well as the days these hours apply.

                    Use multiple entries to represent different schedules (e.g., split shifts or varying hours).

                    '
                  items:
                    type: object
                    properties:
                      openTime:
                        type: string
                        description: Opening time in 12-hour format with AM/PM.
                        example: 03:30 AM
                      closeTime:
                        type: string
                        description: Closing time in 12-hour format with AM/PM.
                        example: 02:00 PM
                      days:
                        type: array
                        description: "List of days of the week when these hours apply.\nUse the following mapping:\n  * 1 = Sunday\n  * 2 = Monday\n  * 3 = Tuesday\n  * 4 = Wednesday\n  * 5 = Thursday\n\
                          \  * 6 = Friday\n  * 7 = Saturday\nYou can specify multiple days in a single entry (e.g., `[2, 3, 4, 5, 6]` for Monday–Friday).\n"
                        items:
                          type: integer
                          minimum: 1
                          maximum: 7
                        example:
                        - 1
                        - 2
                        - 3
                address:
                  type: object
                  required:
                  - street1
                  - state
                  - city
                  - zipCode
                  description: Physical address where the store is located.
                  properties:
[...]
